/* CSS lainnya sesuai kebutuhan */

header {
    background-color: #42a5f5; /* Warna biru langit */
    color: #ffffff; /* Putih teks */
    padding: 15px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); /* Bayangan halus */
}

header h1 {
    margin: 0;
    font-size: 1.8em;
    font-family: 'Merriweather', serif;
    font-style: italic;
}

.header-right {
    display: flex;
    align-items: center;
}

#menu-toggle {
    background-color: transparent; /* Latar belakang transparan */
    border: none;
    color: #ffffff; /* Putih teks */
    font-size: 1.5em; /* Ukuran font */
    cursor: pointer;
    margin-right: 10px; /* Jarak dari kanan ikon pencarian */
}

#dropdown-menu {
    display: none; /* Menu dropdown awalnya disembunyikan */
    position: absolute;
    top: 60px; /* Sesuaikan jarak dropdown dari header */
    right: 15px; /* Sesuaikan posisi horizontal dropdown */
    background-color: #ffffff; /* Latar belakang putih */
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); /* Bayangan halus */
    z-index: 1;
}

#dropdown-menu ul {
    list-style: none;
    padding: 0;
}

#dropdown-menu li {
    padding: 10px;
}

#dropdown-menu li a {
    text-decoration: none;
    color: #333; /* Teks abu-abu gelap */
    font-weight: bold;
}

#dropdown-menu li a:hover {
    background-color: #f0f0f0; /* Abun abu-abu muda */
}